$primary: rgb(67, 132, 216);

body {
  background-color: rgb(26, 26, 26) !important;
  color: rgb(210, 210, 210) !important;
}

.active {
  border-radius: 10px !important;
  background-color: $primary !important;
}

#page{
  height: 100vh;
}

.navbar-nav a{
  padding: 8px 30px !important;
}

.mainColor{
  color: $primary;
}

button{
  background-color: $primary !important;
}