$primary: rgb(67, 132, 216);
$dark1: rgb(26, 26, 26);
$dark2: rgb(39, 39, 39);

body {
  background-color: $dark1 !important;
  color: rgb(210, 210, 210) !important;
}

.active {
  border-radius: 10px !important;
  background-color: $primary !important;
}

#page{
  height: 100vh;
}

.navbar-nav a{
  padding: 8px 30px !important;
}

.mainColor{
  color: $primary;
}

.defaultBg {
  background-color: $primary;
}

button{
  background-color: $primary !important;
}

.projectElement{
  background-color: $dark2
}

.scrollingFrame{
  overflow-y: hidden;
}

.scrollingFrame {
  height: 50%;
  margin-top: 6%;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: #1c1c1c #2b2b2b;
}

.projectElement {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.formStyling {
  background-color: $dark2;
  color: #ffffff;
  border: 1px solid #444444;
  border-radius: 5px;
}

.formStyling::placeholder {
  color: #9a9a9a;
}

.formStyling:focus {
  background-color: $dark2;
  color: #ffffff;
  border-color: $primary;
  outline: none;
  box-shadow: none;
}

.darkBg {
  background-color: $dark2;
}

.darkBgMain {
  background-color: $dark1;
}

.projectDiv {
  padding: 10px;
  flex-basis: 32%;
  border: $dark1 3px solid !important;
  border-radius: 10px;
} 